<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WebUploader演示</title>
    <link rel="stylesheet" type="text/css" href="/css/webuploader.css">
</head>
<body>
<div>
    <div id="uploader" class="wu-example">
        <!--待上传的文件列表，用来存放文件信息-->
        <div id="thelist" class="uploader-list"></div>
        <div class="btns">
            <div id="picker">选择文件</div>
            <button id="ctlBtn" class="btn btn-default">开始上传</button>
        </div>
    </div>
</div>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/dist/webuploader.js"></script>
<script src="/js/upload_file.js"></script>
</body>
</html>